*

# ----------------------- ~ -----------------------

!/README.md
!/.gitignore

# shell configuration
!/.bash_profile
!/.bashrc
!/.inputrc

# theming
!/.face
!/.wallpaper
!/.lock-wallpaper
!/.notification

# gtk2
!/.gtkrc-2.0

# ------------------- ~/.config -------------------

!/.config/

# fontconfig
!/.config/fontconfig/
!/.config/fontconfig/fonts.conf

# niri
!/.config/niri/
!/.config/niri/config.kdl

# waybar
!/.config/waybar/
!/.config/waybar/config
!/.config/waybar/style.css

# walker
!/.config/walker/
!/.config/walker/config.toml
!/.config/walker/themes/
!/.config/walker/themes/**/*

# mako
!/.config/mako/
!/.config/mako/config

# batsignal
!/.config/batsignal
!/.config/batsignal-icon.svg

# gtklock
!/.config/gtklock/
!/.config/gtklock/config.ini
!/.config/gtklock/style.css
!/.config/gtklock/layout.ui

# kitty
!/.config/kitty/
!/.config/kitty/kitty.conf

# fastfetch
!/.config/fastfetch/
!/.config/fastfetch/config.jsonc
!/.config/fastfetch/logo.png
!/.config/fastfetch/logo.txt

# mpv
!/.config/mpv/
!/.config/mpv/input.conf
!/.config/mpv/mpv.conf

# vscode
!/.config/code-flags.conf
!/.config/Code/
!/.config/Code/User/
!/.config/Code/User/settings.json
!/.config/Code/User/keybindings.json
!/.config/Code/User/snippets/
!/.config/Code/User/snippets/**/*

# gtk3
!/.config/gtk-3.0/
!/.config/gtk-3.0/settings.ini

# gtk4
!/.config/gtk-4.0/
!/.config/gtk-4.0/settings.ini

# foliate
!/.config/com.github.johnfactotum.Foliate/
!/.config/com.github.johnfactotum.Foliate/user-stylesheet.css

# ---------------- ~/.local/share ----------------

!/.local/
!/.local/share/

# fcitx5 themes
!/.local/share/fcitx5/
!/.local/share/fcitx5/themes/
!/.local/share/fcitx5/themes/**/*

# ----------------- ~/.local/bin ------------------

!/.local/
!/.local/bin/

# nautilus patch
!/.local/bin/nautilus

# foliate patch
!/.local/bin/foliate

# timeshift patch
!/.local/bin/timeshift-launcher

# discord patch
!/.local/bin/discord

# ---------- ~/.local/share/applications ----------

!/.local/
!/.local/share/
!/.local/share/applications/

# nautilus patch
!/.local/share/applications/org.gnome.Nautilus.desktop

# discord patch
!/.local/share/applications/discord.desktop

# -------------------- ~/.zen ---------------------

!/.zen/
!/.zen/fekoneko/
!/.zen/fekoneko/chrome/
!/.zen/fekoneko/chrome/userChrome.css
!/.zen/fekoneko/chrome/userContent.css

# ------------------- ~/Scripts -------------------

!/Scripts/
!/Scripts/**/*

# private configuration
/Scripts/**/*.conf
