* {
  font-family: 'Noto Sans Mono', 'JetBrainsMono Nerd Font';
  font-size: 13px;
  font-feature-settings: 'tnum';
}

window#waybar {
  color: #ffffff;
  background-color: rgba(2, 11, 33, 0.3);
}

#cpu,
#memory,
#custom-anki-word,
#custom-recorder,
#custom-color-picker,
#custom-dnd,
#network,
#custom-vpn,
#bluetooth,
#wireplumber,
#taskbar button {
  box-shadow: none;
  border: none;
  border-radius: 0;
  transition: background-color 0.1s ease-in-out;
}

#cpu:hover,
#memory:hover,
#custom-anki-word:hover,
#custom-recorder:hover,
#custom-color-picker:hover,
#custom-dnd:hover,
#network:hover,
#custom-vpn:hover,
#bluetooth:hover,
#wireplumber:hover,
#taskbar button:hover,
#taskbar button.active {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  text-shadow: none;
  border: none;
  -gtk-icon-effect: none;
  -gtk-icon-shadow: none;
}

#clock,
#battery,
#clock,
#backlight,
#taskbar button {
  padding: 0 8px;
}

#cpu,
#memory {
  padding: 0 11px 0 8px;
}

#tray {
  padding: 0 10px;
}

#custom-mpris {
  padding: 0 10px;
  font-size: 12.5px;
  opacity: 0.8;
}

#custom-anki-word {
  padding: 0 6px 0.5px 6px;
  font-size: 12.5px;
  opacity: 0.6;
}

#custom-recorder {
  padding: 0 13px 0 10px;
}

#custom-color-picker {
  padding: 1px 14px 0 10px;
  font-size: 12.5px;
}

#network {
  padding: 0 14px 0 10px;
}

#custom-dnd {
  padding: 1px 13.5px 0 10.5px;
  font-size: 12.5px;
}

#custom-vpn {
  padding: 1px 14px 0 11.5px;
  font-size: 12px;
}

#bluetooth {
  padding: 0 12px 0 12px;
}

#wireplumber.sink {
  padding: 0 15px 0 8px;
}

#wireplumber.source {
  padding: 0 12px;
}

tooltip {
  background-color: transparent;
  border: none;
}

tooltip label {
  color: #f0f0ff;
  background-color: rgba(39, 40, 46, 0.95);
  padding: 5px 12px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
