* {
  font-family: 'Noto Sans Mono', 'JetBrainsMono Nerd Font';
  font-size: 13px;
  font-feature-settings: 'tnum';
}

window#waybar {
  background: transparent;
  color: #ffffff;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 0;
  transition-property: none;
}

button:hover {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  -gtk-icon-effect: none;
  -gtk-icon-shadow: none;
}

#clock,
#language,
#battery,
#cpu,
#memory,
#backlight,
#network,
#bluetooth,
#wireplumber,
#custom-color-picker,
#custom-vpn,
#tray {
  padding: 0 10px;
  color: #d5d5e6;
  background-color: rgba(26, 29, 36, 0.6);
  border-radius: 12px;
  border-top: 1.5px solid rgba(69, 75, 91, 0.6);
  border-bottom: 1.5px solid rgba(17, 19, 23, 0.6);
}

label:focus {
  background-color: #000000;
}

#tray,
#battery,
#language,
#custom-color-picker {
  margin-right: 6px;
}

#window,
#workspaces {
  margin: 0 6px;
}

#battery {
  padding-right: 12px;
}

#cpu,
#network,
#wireplumber {
  padding: 0 0 0 10px;
  border-radius: 12px 0px 0px 12px;
}

#custom-vpn {
  border-radius: 0;
}

#memory,
#bluetooth,
#backlight {
  margin-right: 6px;
  padding: 0 13px 0 6px;
  border-radius: 0px 12px 12px 0px;
}

#taskbar button {
  color: #f0f0ff;
  background-color: rgba(26, 29, 36, 0.6);
  border-top: 1.5px solid rgba(69, 75, 91, 0.6);
  border-bottom: 1.5px solid rgba(17, 19, 23, 0.6);
}

#taskbar button:first-child {
  border-radius: 12px 0 0 12px;
}

#taskbar button:last-child {
  border-radius: 0 12px 12px 0;
  margin-right: 6px;
}

#taskbar button:first-child:last-child {
  border-radius: 12px;
}

#taskbar button:hover {
  background-color: rgba(37, 41, 50, 0.6);
  border-top: 1.5px solid rgba(77, 84, 101, 0.6);
  border-bottom: 1.5px solid rgba(28, 31, 37, 0.6);
}

#taskbar button.active {
  background-color: rgba(73, 82, 100, 0.6);
  border-top: 1.5px solid rgba(98, 105, 127, 0.6);
  border-bottom: 1.5px solid rgba(52, 58, 68, 0.6);
}

#taskbar button.active:hover {
  background-color: rgba(77, 87, 105, 0.6);
  border-top: 1.5px solid rgba(102, 109, 133, 0.6);
  border-bottom: 1.5px solid rgba(58, 64, 75, 0.6);
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

tooltip {
  background-color: transparent;
  border: none;
}

tooltip label {
  color: #f0f0ff;
  background-color: rgba(39, 40, 46, 0.9);
  padding: 6px 12px;
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
