///// Blur can be enabled or disabled with a keybind /////
include "blur-state.kdl"

include "environment.kdl"
include "startup.kdl"
include "outputs.kdl"
include "input.kdl"
include "layout.kdl"
include "rules.kdl"
include "keybinds.kdl"
