//////////////////////////////////////////////// Environment ////////////////////////////////////////////////

environment {
    DISPLAY ":0";                                                 // XWayland support
    ELECTRON_OZONE_PLATFORM_HINT "wayland";                       // Use Wayland for Electron apps

    ///// Input method /////
    QT_IM_MODULES "wayland;fcitx;ibus";                           // Prioritize wayland IM modile (Qt)
    XMODIFIERS "@im=fcitx";                                       // Tell XWayland apps to use fcitx
    // GTK_IM_MODULE "fcitx";                                     // Use fcitx module if needed (GTK)
    // QT_IM_MODULE "fcitx";                                      // Use fcitx module if needed (Qt)

    ///// Theme /////
    QT_STYLE_OVERRIDE "Adwaita-Dark";                             // Match GTK4 theme in Qt
    GTK2_RC_FILES "/usr/share/themes/Adwaita-dark/gtk-2.0/gtkrc"; // Theme for GTK2
    // GTK_THEME "Adwaita:dark";                                  // Force GTK4 dark theme if needed
    // XCURSOR_PATH "$XCURSOR_PATH:$HOME/.local/share/icons";     // Breaks cursor in GTK3 apps
    // SAL_USE_VCLPLUGIN "gtk4";                                  // Use GTK4 for LibreOffice (broken)
}

///////////////////////////////////////////////// Startup ///////////////////////////////////////////////////

///// Polkit (GUI auth prompts) /////
spawn-at-startup "dbus-update-activation-environment" "--all"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

///// Preload Walker right away, so that it pops up faster /////
spawn-at-startup "walker" "--gapplication-service"

///// Cursor theme /////
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-theme" "Bibata-Modern-Classic"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-size" "22"

///// Fonts for GTK /////
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "document-font-name" "sans-serif 10"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "font-name" "sans-serif 10"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "monospace-font-name" "monospace 10"
// gconftool --set /apps/metacity/general/titlebar_font 'sans-serif 10' --type STRING

///// Wallpaper /////
spawn-at-startup "swaybg" "--image" "/home/fekoneko/.wallpaper" "--mode" "fill"

///// Bar /////
spawn-at-startup "waybar"

///// Input method /////
spawn-at-startup "fcitx5 -d"

///// Persistent clipboard /////
spawn-at-startup "wl-clip-persist" "--clipboard" "regular"

///// Lock after 10 minutes of inactivity /////
spawn-at-startup "swayidle" "-w"                                                                            \
    "timeout" "600" "~/Scripts/lock-screen.sh"                                                              \
    "timeout" "570" "niri msg action power-off-monitors"                                                    \
    "before-sleep" "~/Scripts/lock-screen.sh"

///////////////////////////////////////////////// MONITORS //////////////////////////////////////////////////

///// Laptop monitor /////
output "eDP-1" {
    scale 1.35
    position x=0 y=0
    focus-at-startup
}

///// Second monitor at work /////
output "Philips Consumer Electronics Company PHL 240V5A UK01625003096" {
    position x=1423 y=-192
}

//////////////////////////////////////////////// Appearance /////////////////////////////////////////////////

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 22
    hide-when-typing
    hide-after-inactive-ms 10000
}

layout {
    gaps 6
    empty-workspace-above-first
    center-focused-column "never"
    background-color "#00000000"
    default-column-width { proportion 1.0; }
    tab-indicator { gap 2; }

    focus-ring {
        width 1.5
        active-gradient from="#6089d2" to="#abccff" angle=45 relative-to="workspace-view"
        inactive-color "transparent"
        urgent-color "transparent"
    }

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    shadow {
        on
        softness 25
        offset x=0 y=5
        color "#00000033"
    }

    struts { top -3; }
}

overview {
    workspace-shadow { off; }
}

window-rule {
    clip-to-geometry true
    tiled-state true
    open-maximized true
    draw-border-with-background false
}

layer-rule {
    match namespace="wallpaper"
    match at-startup=true
    place-within-backdrop true
}

prefer-no-csd

/////////////////////////////////////////////////// Input ///////////////////////////////////////////////////

input {
    keyboard {
        numlock
        xkb { layout "us, ru"; }
    }

    touchpad {
        tap
        natural-scroll
    }
}

gestures {
    hot-corners { off; }
}

/////////////////////////////////////////////// Miscellaneous ///////////////////////////////////////////////

///// Block out notifications from screencast (but not screencapture) /////
layer-rule {
    match namespace="notifications"
    block-out-from "screencast"
}

screenshot-path null

/////////////////////////////////////////////// Window Rules ////////////////////////////////////////////////

///// Tiled half width /////
window-rule {
    // Terminal
    // File manager
    // Archive manager
    // Gnome Online Accounts
    // Anki add / edit note, add-ons, stats
    // Prism Launcher
    // Volume Control
    // Transmission
    match app-id="^kitty$"
    match app-id="^org.gnome.Nautilus$" title=".+"
    match app-id="^org.gnome.FileRoller$"
    match app-id="^org.x.GnomeOnlineAccountsGtk$"
    match app-id="^anki$" title="^Edit|^Add|^Statistics"
    match app-id="^org.prismlauncher.PrismLauncher$" title="^Prism Launcher"
    match app-id="^org.pulseaudio.pavucontrol$" title="^Volume Control$"
    match app-id="^com.transmissionbt.transmission" title="^Transmission$"

    default-column-width { proportion 0.5; }
    open-maximized false
}

///// Tiled /////
window-rule {
    // Bottles apps
    match app-id="^steam_proton$"

    open-floating false
}

///// Floating /////
window-rule {
    // VeraCrypt password prompts
    // Zen Picture-in-Picture overlays
    match app-id="^veracrypt$" title="^Administrator privileges required$"
    match app-id="^veracrypt$" title="^Enter password for"
    match app-id="^zen$" title="^Picture-in-Picture$"

    open-floating true
}

///// Floating minimal size /////
window-rule {
    // All Krita windows by default
    match app-id="^krita$"

    open-floating true
    default-column-width { fixed 0; }
    default-window-height { fixed 0; }
}

///// Floating 900 x 600 /////
window-rule {
    // Krita file dialogs
    // Obsidian vault opening window
    match app-id="^krita$" title="^Open Images — Krita$"
    match app-id="^krita$" title="^Saving As — Krita$"
    match app-id="^krita$" title="^Exporting — Krita$"
    match app-id="^krita$" title="^Import Resources and Resource Libraries — Krita$"
    match app-id="^krita$" title="^Select the bundle — Krita$"
    match app-id="^org.gnome.Nautilus$" title="^Open folder as vault$"

    open-floating true
    default-column-width { fixed 900; }
    default-window-height { fixed 600; }
}

//////////////////////////////////////////////// Keybindings ////////////////////////////////////////////////

hotkey-overlay { skip-at-startup; }

binds {
    ///// Fn buttons /////

    XF86AudioRaiseVolume allow-when-locked=true { spawn "sh" "-c"                                           \
        "wpctl set-mute @DEFAULT_AUDIO_SINK@ 0 && wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ --limit 1.5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "sh" "-c"                                           \
                    "wpctl set-mute @DEFAULT_AUDIO_SINK@ 0 && wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }

    XF86AudioMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"  ; }
    XF86AudioMicMute   allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86AudioPlay         allow-when-locked=true { spawn "playerctl" "play-pause"                         ; }
    XF86AudioPrev         allow-when-locked=true { spawn "playerctl" "previous"                           ; }
    XF86AudioNext         allow-when-locked=true { spawn "playerctl" "next"                               ; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+5%"                      ; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"                      ; }

    ///// Windows /////

    Mod+Backslash                  { toggle-overview                                                      ; }
    Mod+W                          { close-window                                                         ; }
    Mod+Q                          { close-window                                                         ; }
    Alt+F4                         { close-window                                                         ; }

    Mod+Left                       { focus-column-left                                                    ; }
    Mod+Right                      { focus-column-right                                                   ; }
    Mod+Page_Up                    { focus-window-up                                                      ; }
    Mod+Page_Down                  { focus-window-down                                                    ; }
    Mod+Home                       { focus-column-first                                                   ; }
    Mod+End                        { focus-column-last                                                    ; }
    Mod+WheelScrollLeft            { focus-column-left                                                    ; }
    Mod+WheelScrollRight           { focus-column-right                                                   ; }
    Mod+WheelScrollUp              { focus-column-left                                                    ; }
    Mod+WheelScrollDown            { focus-column-right                                                   ; }

    Mod+Ctrl+Left                  { move-column-left                                                     ; }
    Mod+Ctrl+Right                 { move-column-right                                                    ; }
    Mod+Ctrl+Page_Up               { move-window-up                                                       ; }
    Mod+Ctrl+Page_Down             { move-window-down                                                     ; }
    Mod+Ctrl+Home                  { move-column-to-first                                                 ; }
    Mod+Ctrl+End                   { move-column-to-last                                                  ; }
    Mod+Ctrl+WheelScrollLeft       { move-column-left                                                     ; }
    Mod+Ctrl+WheelScrollRight      { move-column-right                                                    ; }
    Mod+Ctrl+WheelScrollUp         { move-column-left                                                     ; }
    Mod+Ctrl+WheelScrollDown       { move-column-right                                                    ; }

    Mod+BracketLeft                { consume-or-expel-window-left                                         ; }
    Mod+BracketRight               { consume-or-expel-window-right                                        ; }

    Mod+R                          { switch-preset-column-width                                           ; }
    Mod+F                          { fullscreen-window                                                    ; }
    Mod+Minus                      { set-column-width "-10%"                                              ; }
    Mod+Equal                      { set-column-width "+10%"                                              ; }
    Mod+Shift+Minus                { set-window-height "-10%"                                             ; }
    Mod+Shift+Equal                { set-window-height "+10%"                                             ; }

    Mod+D                          { toggle-window-floating                                               ; }
    Mod+Shift+D                    { switch-focus-between-floating-and-tiling                             ; }

    ///// Workspaces /////

    Mod+Up                         { focus-workspace-up                                                   ; }
    Mod+Down                       { focus-workspace-down                                                 ; }
    Mod+Shift+WheelScrollUp        { focus-workspace-up                                                   ; }
    Mod+Shift+WheelScrollDown      { focus-workspace-down                                                 ; }

    Mod+Ctrl+Up                    { move-column-to-workspace-up                                          ; }
    Mod+Ctrl+Down                  { move-column-to-workspace-down                                        ; }
    Mod+Shift+Ctrl+WheelScrollUp   { move-column-to-workspace-up                                          ; }
    Mod+Shift+Ctrl+WheelScrollDown { move-column-to-workspace-down                                        ; }

    ///// Monitors /////

    Mod+Shift+Left                 { focus-monitor-left                                                   ; }
    Mod+Shift+Right                { focus-monitor-right                                                  ; }
    Mod+Shift+Page_Up              { focus-monitor-up                                                     ; }
    Mod+Shift+Page_Down            { focus-monitor-down                                                   ; }

    Mod+Shift+Ctrl+Left            { move-column-to-monitor-left                                          ; }
    Mod+Shift+Ctrl+Right           { move-column-to-monitor-right                                         ; }
    Mod+Shift+Ctrl+Page_Up         { move-column-to-monitor-up                                            ; }
    Mod+Shift+Ctrl+Page_Down       { move-column-to-monitor-down                                          ; }

    ///// Applications /////

    Ctrl+Shift+Escape              { spawn "gtk-launch" "io.missioncenter.MissionCenter"                  ; }
    Mod+T                          { spawn "kitty"                                                        ; }
    Mod+E                          { spawn "gtk-launch" "org.gnome.Nautilus"                              ; }
    Mod+C                          { spawn "gtk-launch" "code"                                            ; }
    Mod+Z                          { spawn "gtk-launch" "zen"                                             ; }
    Mod+G                          { spawn "gtk-launch" "com.github.neithern.g4music"                     ; }
    Mod+A                          { spawn "gtk-launch" "anki"                                            ; }
    Mod+K                          { spawn "gtk-launch" "org.kde.krita"                                   ; }
    Mod+O                          { spawn "gtk-launch" "obsidian"                                        ; }
    Mod+U                          { spawn "gtk-launch" "chromium"                                        ; }
    Mod+M                          { spawn "gtk-launch" "org.gnome.Geary"                                 ; }
    Mod+B                          { spawn "kitty" "-e" "bluetui"                                         ; }
    Mod+N                          { spawn "kitty" "-e" "nmtui"                                           ; }

    ///// Bar and things in bar /////

    Mod+P                          { spawn "killall" "-USR1" "waybar"                                     ; }
    Mod+X                          { spawn "makoctl" "dismiss" "--all"                                    ; }
    Mod+Shift+X                    { spawn "~/Scripts/toggle-dnd.sh"                                      ; }
    Mod+Comma                      { spawn "~/Scripts/toggle-mute.sh"                                     ; }

    ///// Launcher /////

    Mod+Tab                        { spawn "walker"                                                       ; }
    Mod+V                          { spawn "walker" "--provider" "clipboard"                              ; }
    Mod+Period                     { spawn "walker" "--provider" "symbols"                                ; }

    ///// Control pointer with keyboard /////

    Mod+Alt+Left                   { spawn "wlrctl" "pointer" "move" "-10" "0"                            ; }
    Mod+Alt+Right                  { spawn "wlrctl" "pointer" "move" "10" "0"                             ; }
    Mod+Alt+Up                     { spawn "wlrctl" "pointer" "move" "0" "-10"                            ; }
    Mod+Alt+Down                   { spawn "wlrctl" "pointer" "move" "0" "10"                             ; }

    Mod+Alt+Shift+Left             { spawn "wlrctl" "pointer" "move" "-80" "0"                            ; }
    Mod+Alt+Shift+Right            { spawn "wlrctl" "pointer" "move" "80" "0"                             ; }
    Mod+Alt+Shift+Up               { spawn "wlrctl" "pointer" "move" "0" "-80"                            ; }
    Mod+Alt+Shift+Down             { spawn "wlrctl" "pointer" "move" "0" "80"                             ; }

    Mod+Alt+Prior                  { spawn "wlrctl" "pointer" "scroll" "-10" "0"                          ; }
    Mod+Alt+Next                   { spawn "wlrctl" "pointer" "scroll" "10" "0"                           ; }
    Mod+Alt+Home                   { spawn "wlrctl" "pointer" "scroll" "0" "-10"                          ; }
    Mod+Alt+End                    { spawn "wlrctl" "pointer" "scroll" "0" "10"                           ; }

    Print                          { spawn "wlrctl" "pointer" "click" "left"                              ; }
    Shift+Print                    { spawn "wlrctl" "pointer" "click" "right"                             ; }
    Ctrl+Print                     { spawn "wlrctl" "pointer" "click" "right"                             ; }
    Ctrl+Shift+Print               { spawn "wlrctl" "pointer" "click" "middle"                            ; }
    Alt+Print                      { spawn "wlrctl" "pointer" "click" "middle"                            ; }

    Mod+Return                     { spawn "wl-kbptr" "-o" "modes=floating,click"                           \
                                                      "-o" "mode_floating.source=detect"                  ; }
    Mod+Alt+Return                 { spawn "wl-kbptr" "-o" "modes=split,click"                            ; }

    ///// Veracrypt /////

    Mod+Grave                      { spawn "veracrypt" "--auto-mount=favorites"                           ; }
    Mod+Shift+Grave                { spawn "veracrypt" "--unmount"                                        ; }

    ///// Lock screen and toggling monitors /////

    Mod+L                          { spawn "~/Scripts/lock-screen.sh"                                     ; }
    Mod+Shift+L                    allow-when-locked=true { spawn "~/Scripts/toggle-main-monitor.sh"      ; }

    ///// Screenshots and color picker /////

    Mod+S                          { screenshot-screen                                                    ; }
    Mod+Shift+S                    { screenshot                                                           ; }
    Mod+Ctrl+Shift+S               { screenshot-window                                                    ; }
    Mod+I                          { spawn "~/Scripts/pick-color.sh"                                      ; }

    ///// Text recognition (OCR) /////

    Mod+Alt+E                      { spawn "~/Scripts/ocr.sh" "eng"                                       ; }
    Mod+Ctrl+E                     { spawn "~/Scripts/ocr.sh" "eng"                                       ; }

    Mod+Alt+R                      { spawn "~/Scripts/ocr.sh" "rus"                                       ; }
    Mod+Ctrl+R                     { spawn "~/Scripts/ocr.sh" "rus"                                       ; }

    Mod+Alt+J                      { spawn "~/Scripts/ocr.sh" "jpn"                                       ; }
    Mod+Ctrl+J                     { spawn "~/Scripts/ocr.sh" "jpn"                                       ; }
    Mod+J                          { spawn "~/Scripts/ocr.sh" "jpn"                                       ; }

    Mod+Alt+Shift+J                { spawn "~/Scripts/ocr.sh" "jpn_vert"                                  ; }
    Mod+Ctrl+Shift+J               { spawn "~/Scripts/ocr.sh" "jpn_vert"                                  ; }
    Mod+Shift+J                    { spawn "~/Scripts/ocr.sh" "jpn_vert"                                  ; }
    Mod+1                          { spawn "~/Scripts/ocr.sh" "jpn_vert"                                  ; }

    ///// An escape hatch if some application steals control from Niri /////
    Mod+Shift+Escape               allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit             ; }
}
