environment {
    DISPLAY ":0";                                                 // XWayland support
    ELECTRON_OZONE_PLATFORM_HINT "wayland";                       // Use Wayland for Electron apps

    ///// Input method /////
    QT_IM_MODULES "wayland;fcitx;ibus";                           // Prioritize wayland IM modile (Qt)
    XMODIFIERS "@im=fcitx";                                       // Tell XWayland apps to use fcitx
    // GTK_IM_MODULE "fcitx";                                     // Use fcitx module if needed (GTK)
    // QT_IM_MODULE "fcitx";                                      // Use fcitx module if needed (Qt)

    ///// Theme /////
    QT_STYLE_OVERRIDE "Adwaita-Dark";                             // Match GTK4 theme in Qt
    GTK2_RC_FILES "/usr/share/themes/Adwaita-dark/gtk-2.0/gtkrc"; // Theme for GTK2
    // GTK_THEME "Adwaita:dark";                                  // Force GTK4 dark theme if needed
    // XCURSOR_PATH "$XCURSOR_PATH:$HOME/.local/share/icons";     // Breaks cursor in GTK3 apps
    // SAL_USE_VCLPLUGIN "gtk4";                                  // Use GTK4 for LibreOffice (broken)
}
