cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 22
    hide-when-typing
    hide-after-inactive-ms 10000
}

input {
    keyboard {
        numlock
        xkb { layout "us, ru"; }
    }

    touchpad {
        tap
        natural-scroll
    }

    tablet {
        // map-to-output "PNP(GAM) PD2200 0x00000001"         // GAOMON tablet screen
        map-to-output "Wacom Tech Wacom DTH135 6BH01H1000364" // Wacom tablet screen
    }

    touch {
        map-to-output "Wacom Tech Wacom DTH135 6BH01H1000364" // Wacom tablet screen
    }
}

gestures {
    hot-corners { off; }
}
