layout {
    gaps 8
    empty-workspace-above-first
    center-focused-column "never"
    background-color "#00000000"
    default-column-width { proportion 1.0; }
    tab-indicator { gap 2; }

    focus-ring {
        off
    }

    border {
        on
        width 1.5
        active-color "#27282c"
        inactive-color "#27282c"
        urgent-color "#27282c"
    }

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    shadow {
        on
        softness 25
        offset x=0 y=5
        color "#00000033"
    }
}

overview {
    workspace-shadow { off; }
}

prefer-no-csd
