///// Laptop monitor /////
output "eDP-1" {
    mode "2880x1800@120.000"
    scale 1.875
    position x=0 y=0
    focus-at-startup
}

///// Second monitor at work /////
output "Philips Consumer Electronics Company PHL 240V5A UK01625003096" {
    position x=1536 y=-120
}

///// Drawing tablet screen /////
output "PNP(GAM) PD2200 0x00000001" {
    position x=0 y=960
}
