///// Laptop monitor /////
output "eDP-1" {
    mode "2880x1800@120.000"
    scale 1.875
    position x=0 y=0
    focus-at-startup
}

///// GAOMON tablet screen /////
output "PNP(GAM) PD2200 0x00000001" {
    position x=0 y=960
}

///// Wacom tablet screen /////
output "Wacom Tech Wacom DTH135 6BH01H1000364" {
    position x=0 y=960
}
