///// Show wallpaper within backdrop /////
layer-rule {
    match namespace="wallpaper"
    match at-startup=true
    place-within-backdrop true
}

///// Global window rules /////
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
    tiled-state true
    open-maximized true
    draw-border-with-background false
    open-maximized-to-edges false
}

///// Tiled half width /////
window-rule {
    match app-id="^kitty$"                                                   // Terminal
    match app-id="^org.gnome.Nautilus$" title=".+"                           // File manager
    match app-id="^org.gnome.FileRoller$"                                    // Archive manager
    match app-id="^org.x.GnomeOnlineAccountsGtk$"                            // Gnome Online Accounts
    match app-id="^anki$" title="^Edit|^Add|^Statistics"                     // Anki add / edit note, add-ons, stats
    match app-id="^org.prismlauncher.PrismLauncher$" title="^Prism Launcher" // Prism Launcher
    match app-id="^org.pulseaudio.pavucontrol$" title="^Volume Control$"     // Volume Control
    match app-id="^com.transmissionbt.transmission" title="^Transmission$"   // Transmission
    match app-id="^timeshift-gtk$" title="^Restore Snapshot$"                // Timeshift restore snapshot window
    match app-id="^evolution-alarm-notify$" title="^Reminders$"              // Evolution calendar event reminders

    default-column-width { proportion 0.5; }
    open-floating false
    open-maximized false
}

///// Tiled /////
window-rule {
    match app-id="^steam_proton$"                                            // Bottles apps

    open-floating false
}

///// Floating /////
window-rule {
    match app-id="^veracrypt$" title="^Administrator privileges required$"   // VeraCrypt password prompts
    match app-id="^veracrypt$" title="^Enter password for"
    match app-id="^zen$" title="^Picture-in-Picture$"                        // Zen Picture-in-Picture overlays
    match app-id="^org.gnome.Geary$" title="^Untrusted Connection$"          // Geary untrusted connection popups
    match app-id="^org.kde.krita$" title="[^ *] [—–] Krita$"                 // Some Krita windows

    open-floating true
}

///// Floating 900 x 600 /////
window-rule {
    match app-id="^org.gnome.Nautilus$" title="^Open folder as vault$"       // Obsidian vault opening window

    open-floating true
    default-column-width { fixed 900; }
    default-window-height { fixed 600; }
}

///// Floating 250 x 150 in the corner /////
window-rule {
    match app-id="^XEyes$" title="^xeyes$"                                   // XEyes (wayland test)

    open-floating true
    default-column-width { fixed 250; }
    default-window-height { fixed 150; }
    default-floating-position x=12 y=12
}
