:root {
  --toolbar-bgcolor: #2e2e32 !important;
}

browser {
  background-color: transparent !important;
}

findbar {
  border-top: 1px solid #2e2e32 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #1c1c20 !important;
  --zen-main-browser-background-old: #1c1c20 !important;
  opacity: 0.93 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #1c1c20 !important;
  --zen-main-browser-background-toolbar-old: #1c1c20 !important;
  border-color: #2e2e32 !important;
}

#zen-tabbox-wrapper {
  margin: -8px 0 0 0 !important;
}

.browserSidebarContainer {
  outline: none !important;
  border-radius: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 0 !important;
}
